@font-face {
    
    font-family:"cafe";
    src: url(font/miracle_5/Miracle.otf) format('truetype')
}

@font-face {
    
    font-family:"offerings";
    src: url(font/offerings/OfferingsRegular.otf) format('truetype')
}

@font-face {
    
    font-family:"Ogirema";
    src: url(font/Ogirema/Ogirema.ttf) format('truetype')
}

@font-face {
    
    font-family:"friandise";
    src: url(font/friandise/FriandiseNormalDemo.otf) format('truetype')
}

@font-face {
    
    font-family:"jack";
    src: url(font/JacksFont.ttf) format('truetype')
}


@font-face{
    font-family:'voodoo';
    src: url(font/VoodooEyeTitle-UltraLight.ttf) format('truetype')
}
body {

    position: fixed;
    margin: 0;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    overflow: hidden;


    background-repeat: no-repeat;
}

.container {
    position: relative;
    display: block;
    flex-direction: inline;
    padding: 2rem;
    margin: 4rem auto;
    width: 80%;
    border-radius: 2rem;
    background-color: rgb(100, 95, 137);
    z-index: 99
}

.text {
    width: 50%
}

.image {
    width: 50%
}

.box {
    height: 10rem;
    background-color: aquamarine;
    width: 10rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-left: 2rem
}

.menuCentral {
    display: flex;
    flex-direction: row;
    margin-right: 20%;
    
}

.menuCentral a{
    color: rgb(143,149,173);
    text-decoration:none;
}
nav {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ContainerMaster {
    margin: 2rem;
    background: rgb(228, 236, 243);
    background: linear-gradient(194deg, rgba(228, 236, 243, 1) 40%, rgba(223, 222, 241, 1) 79%);
    border-radius: 1rem;
    height: 85%;
    ;
    padding: 2rem
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;


}

.menu a{
     color: rgb(143,149,173);
    text-decoration:none;

}

.titel {

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey
}

.phoneimage{
    display: none;
}
.logo {
    display: flex;
    flex-grow: 1;
    
}

.btnmenu {
    margin-right: 2rem;
    
     width: 80px;
    padding: .4rem;
    height: 1.2rem;
   
    border-radius: .5rem;
    color: #fff;
    text-align: center;
}

.btnmenu:hover {
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.split {
    position: relative;

    padding: 3rem;
    display: flex;


}

.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.background {
    position: absolute;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    background: rgb(125,116,167);
background: -moz-linear-gradient(176deg, rgba(125,116,167,1) 7%, rgba(57,59,81,1) 79%);
background: -webkit-linear-gradient(176deg, rgba(125,116,167,1) 7%, rgba(57,59,81,1) 79%);
background: linear-gradient(176deg, rgba(125,116,167,1) 7%, rgba(57,59,81,1) 79%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7d74a7",endColorstr="#393b51",GradientType=1);
}

.left {
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    align-self: center
}

h2 {
    font-size: 6rem
}

.img {
    height: 25rem;
    margin-left: 20%
}

.minitext {
    
    width: 60%;
    justify-content: space-evenly;
    text-justify: inter-word;
    color: rgb(70, 77, 120);
    margin-bottom: 40px
}

.h2text {
    width: 100%;
    font-size: 6em;
    z-index: 80;
    text-align: left;
    color: rgb(70, 77, 120);
    margin: 0;
    font-family: 'voodoo' 
}

.loginbtn {
    width: 80px;
    padding: .4rem;
    height: 1.2rem;
    background-color: rgba(53,63,107);
    border-radius: .5rem;
    color: #fff;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;


}

}
.waviy {
  position: relative;
    font-family: sans-serif;
        color: black;
}

.waviy span{
  position: cafe;
    font-family: 'Ogirema';
    color: aliceblue;
   
}
.waviy span {
  position: relative;
  display: flex;
  font-size: 40px;
  color: #000;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

.loginbtn:hover {
    
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.loginbtn a{
    
    color: #fff
}

.loginbtn a:link{
    text-decoration:none;
    color: #fff
}

.explain {
    display: block;
    padding: 0;
    margin: 0 auto
}

.explain p{
    display: block;
    padding: 0;
    margin: 0 auto;
    color: rgb(143,149,173)
}

.btn {
    height: 60px;
    background-image: url("media/btn.jpg");
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 20rem;
    border-radius: 3rem;
    padding: 1rem;
    margin-left: -20px;
    color: rgb(70, 77, 120);
    display: flex;
    text-align: center;
    
}

.btn:hover {
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}




@media only screen and (max-width: 1168px){
    .menuCentral {
    display: flex;
    flex-direction: row;
    
}
    
  
    .menu{
        display: none
    }
    
}

@media only screen and (max-width: 868px){
    .menuCentral {
    display: flex;
    flex-direction: row;
        margin-top: 2rem
    
}
    
  
    .menu{
        display: none
    }
    
}

@media only screen and (max-width: 644px){
    .menuCentral {
    display: none;
    flex-direction: row;
        margin-top: 2rem
    
}
    
  
    .menu{
        display: none
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 908px) { 
    
    .explain {
    display: none
}

    .minitext {
    
    width: 300px;
    justify-content: space-evenly;
    text-justify: inter-word;
}
      .menu {
    display: none;
    justify-content: center;
    align-items: center;


}
    .h2text {
    width: 10%;
    font-size: 4em;
    z-index: 80;
    text-align: center;
    color: rgb(70, 77, 120);
    margin: 0
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
  
}
   
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 800px) {
    
    .menuCentral a{
    display: none;
    
}
    
    .menuCentral {
    display: none;
    
}
}
    



/* Portrait and Landscape IPHONE X*/
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {

    .ContainerMaster {
        margin: 2rem;
        background: rgb(228, 236, 243);
        background: linear-gradient(194deg, rgba(228, 236, 243, 1) 40%, rgba(223, 222, 241, 1) 79%);
        border-radius: 1rem;
        height: 85%;
        padding: 2rem;
    }
    
 
}
  
    
  

}


.menuCentral a{
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    color: rgb(70, 77, 120);
}

.round {
    position: relative;
   
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
    display: flex;
    float: right;
    left:80%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 3%;
    font-size: 70%;
    align-self: center;
    background: rgb(255,255,255);
background: -moz-linear-gradient(176deg, rgba(255,255,255,1) 7%, rgba(223,241,252,1) 79%);
background: -webkit-linear-gradient(176deg, rgba(255,255,255,1) 7%, rgba(223,241,252,1) 79%);
background: linear-gradient(176deg, rgba(255,255,255,1) 7%, rgba(223,241,252,1) 79%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#dff1fc",GradientType=1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}

.bar {
    display: block;
    width: 3rem;
    
    margin-right: .5rem;
    background: rgb(255,255,255);
background: linear-gradient(176deg, rgba(255,255,255,1) 7%, rgba(228,226,242,1) 79%);
    
}

.explainM {
    display: flex;
    height: 5rem;
    width: 20rem;
    margin-left: 20%
}

.miniRound {
    position: relative;
    border-radius: 5rem;
   
background: -moz-linear-gradient(176deg, rgba(255,255,255,1) 7%, rgba(223,241,252,1) 79%);
background: -webkit-linear-gradient(176deg, rgba(255,255,255,1) 7%, rgba(223,241,252,1) 79%);
background: linear-gradient(176deg, rgba(255,255,255,1) 7%, rgba(223,241,252,1) 79%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#dff1fc",GradientType=1);
    width: 90%;
    height: 50px;
}

.minibull {
    display: flex;
    width: 40px;
    height: 40px;
        background: #fff;
    border-radius: 5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.minibull:hover {

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.flex {
    display: flex
}

.mgL {
    margin-left: -10px
}

.mrgL-20 {
    margin-left: 20px;
    text-align: center;
    
}

.minibull2 {
    height: 36px;
    width: 36x;
    border-radius: 5rem;
    align-self: center;
    margin-left: 2px
}

#creator {
    margin-bottom: 40px
}

.colunm {
    top: 20%;
    left: 45%;
    position: absolute;
    display: block;
    width: 0%;
    height: 80%;
    background-color: #fff;
    z-index: 99;
    color: black;
    box-sizing: content-box;
}

.margL {
    margin-right: 3rem
}

/* Portrait and Landscape samsung fold X*/
@media only screen and (min-device-width: 280px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {

    .ContainerMaster {
        margin: 1rem;
        background: rgb(228, 236, 243);
        background: linear-gradient(194deg, rgba(228, 236, 243, 1) 40%, rgba(223, 222, 241, 1) 79%);
        border-radius: 1rem;
        height: 90%;
        padding: 1rem;
        width: 78%
    }

    .logo img {
        width: 10rem;
           
    }

    .h2text {
        margin-top: 2rem;
        font-size: 2em;
        z-index: 80;
        text-align: left;
        color: rgb(70, 77, 120);
    }

    .btn {
        position: absolute;
        bottom: -6rem;
        height: 14%;
        background-image: url("media/btn.jpg");
        background-size: contain;
        width: 90%;
        border-radius: 3rem;
        margin-left: 10%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        padding: 0px;
    }
    
    .round {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5rem;
    display: flex;
    float: right;
    left: 80%;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    padding: 3%;
    font-size: 70%;
    align-self: center;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(176deg, rgba(255,255,255,1) 7%, rgba(223,241,252,1) 79%);
    background: -webkit-linear-gradient(176deg, rgba(255,255,255,1) 7%, rgba(223,241,252,1) 79%);
    background: linear-gradient(176deg, rgba(255,255,255,1) 7%, rgba(223,241,252,1) 79%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#dff1fc",GradientType=1);
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}
    
    .phoneimage{
        display: block
    }
    .img{
        position: absolute;
        height: 200px;
        top: 100px;
        
       margin-left: 54%
    }
    
    .miniRound {
    position: relative;
    border-radius: 5rem;
    background: -moz-linear-gradient(176deg, rgba(255,255,255,1) 7%, rgba(223,241,252,1) 79%);
    background: -webkit-linear-gradient(176deg, rgba(255,255,255,1) 7%, rgba(223,241,252,1) 79%);
    background: linear-gradient(176deg, rgba(255,255,255,1) 7%, rgba(223,241,252,1) 79%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#dff1fc",GradientType=1);
    width: 90%;
    height: 25px;
}

    .colunm {
   display: none;
}
    
    #creator {
    margin-bottom: 40px;
        
}
    .split {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0
    }

    .right {
        position: absolute;
        display: none;

    }

    .left {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-self: center;
    }


    .minitext {
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 30rem;
        justify-content: space-evenly;
        text-justify: inter-word;
        z-index: 99;
        background: #fff;
        opacity: .5;
        padding: 1rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 13rem
    }

}



.phoneimage {
    height: 20px;
}
